@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome</h1>
    <h1 class="fw-bold mt-5">Car <span class="text-white pt-1 pb-1" style="background-color: #563d7c; padding: 0 .5em;">Locadora</span></h1>
</div>
