@model ProjetoCarLocadora.Models.Models.LocacaoModel

@{
    ViewData["Title"] = "Create";
}



<h4 class="fw-bold">Nova Locação</h4>
<hr />
<div class="row">
    <div class="col-md-14">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-2">
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ClienteCPF" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <select asp-for="ClienteCPF" asp-items="ViewBag.Clientes" class="form-control text-uppercase">
                            <option disabled selected>--Selecione um Cliente--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FormaPagamentoId" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <select asp-for="FormaPagamentoId" asp-items="ViewBag.FormaDePagamento" class="form-control text-uppercase">
                            <option disabled selected>--Selecione uma forma de pagamento--</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="VeiculoPlaca" style="color: #563d7c;" class="control-label fw-bold"></label>
                    <select asp-for="VeiculoPlaca" asp-items="ViewBag.Veiculos" class="form-control text-uppercase">
                        <option disabled selected>--Selecione um Veículo--</option>
                    </select>
                </div>
            </div>



            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DataHoraReserva" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <input asp-for="DataHoraReserva" class="form-control" />
                        <span asp-validation-for="DataHoraReserva" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DataHoraRetiradaPrevista" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <input asp-for="DataHoraRetiradaPrevista" class="form-control" />
                        <span asp-validation-for="DataHoraRetiradaPrevista" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="DataHoraDevolucaoPrevista" style="color: #563d7c;" class="control-label fw-bold"></label>
                    <input asp-for="DataHoraDevolucaoPrevista" class="form-control" />
                    <span asp-validation-for="DataHoraDevolucaoPrevista" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-2 mb-2 d-flex justify-content-between">
                <div>
                    <a class="btn btn-outline-primary float-right" asp-action="Index"> < Voltar para a lista</a>
                </div>
                <input type="submit" value="Salvar Locação" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


