@model ProjetoCarLocadora.Models.Models.CategoriaModel

<div class="row mb-2">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Descricao" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="form-group mt-2">
    <label asp-for="ValorDiaria" style="color: #563d7c;" class="control-label fw-bold"></label>
    <input asp-for="ValorDiaria" class="form-control" />
    <span asp-validation-for="ValorDiaria" class="text-danger"></span>
</div>




