@model ProjetoCarLocadora.Models.Models.CategoriaModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="fw-bold">Nova Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Categoria" />
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
