@model ProjetoCarLocadora.Models.Models.CategoriaModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="fw-bold">Editar Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           <partial name="_Categoria" />
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
