@model ProjetoCarLocadora.Models.Models.CategoriaModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="fw-bold">Editar Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Id" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <input asp-for="Id" class="form-control" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <partial name="_Categoria" />
            </div>    
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
