@model ProjetoCarLocadora.Models.Models.UsuarioModel

@{
    ViewData["Title"] = "Edit";
}


<h4 class="fw-bold">Editar Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Usuario" />

        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
