@model ProjetoCarLocadora.Models.Models.VeiculoModel

<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Placa" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Placa" class="form-control maskPlacaVeiculo"/>
            <span asp-validation-for="Placa" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Chassi" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Chassi" class="form-control" />
            <span asp-validation-for="Chassi" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Marca" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Marca" class="form-control" />
            <span asp-validation-for="Marca" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Modelo" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Modelo" class="form-control" />
            <span asp-validation-for="Modelo" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Combustivel" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Combustivel" class="form-control" />
            <span asp-validation-for="Combustivel" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Cor" style="color: #563d7c;" class="control-label fw-bold"></label>
            <input asp-for="Cor" class="form-control" />
            <span asp-validation-for="Cor" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="form-group">
        <label asp-for="Opcionais" style="color: #563d7c;" class="control-label fw-bold"></label>
        <input asp-for="Opcionais" class="form-control" />
        <span asp-validation-for="Opcionais" class="text-danger"></span>
    </div>
    <div class="col-md-12">
				<div class="form-group">
					<label asp-for="CategoriaId" style="color: #563d7c;" class="control-label fw-bold">Categoria do Veículo</label>
					<select asp-for="CategoriaId" asp-items="ViewBag.CategoriasDeVeiculos" class="form-control text-uppercase">
					</select>
				</div>
			</div>
</div>



