@model ProjetoCarLocadora.Models.Models.VeiculoModel

@{
    ViewData["Title"] = "Edit";
}

<h4 class="fw-bold">Editar Veículo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Veiculo" />
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DataInclusao" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <input asp-for="DataInclusao" class="form-control" readonly />
                        <span asp-validation-for="DataInclusao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DataAlteracao" style="color: #563d7c;" class="control-label fw-bold"></label>
                        <input asp-for="DataAlteracao" class="form-control" readonly />
                        <span asp-validation-for="DataAlteracao" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-check mt-3 mb-3">
                <label style="color: #563d7c;" class="form-check-label fw-bold">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group mt-2 mb-2 d-flex justify-content-between">
                <div>
                    <a class="btn btn-outline-primary float-right" asp-action="Index"> < Voltar para Lista</a>
                </div>
                <input type="submit" value="Salvar Veiculo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
