@model ProjetoCarLocadora.Models.Models.FormaDePagamentoModel

@{
    ViewData["Title"] = "Create";
}



<h4 class="fw-bold">Nova Forma De Pagamento</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_FormaDePagamento" />
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
